<!DOCTYPE html>
<html lang="en">

<head>
    <title>What's My Function</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                </ul>
            </nav>
            <h3 class="text-muted"> A programming zine for beginners</h3>
        </div>

        <div class="jumbotron">
            <h1>What's My Function</h1>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>What is What's My Function</h4>
                <p>What's my function is a programming zine created by Jessica Garson in hopes of inspiring inviduals to learn or continue learning how to code</p>

                <h4>Get the latest isssue</h4>
                <p> <a href="https://github.com/JessicaGarson/What-s_My_Function_Number_2/blob/master/What's_My_Function2.pdf">A zine made in March of 2016 can be found here</a> </p>

                <h4>Want to contribute</h4>
                <p>We take volunteer content so feel free to email Jessica if you want to write an article or have ideas.<a href="jessica.garson@gmail.com">here</a> to get involved</p>
            </div>

            <div class="col-lg-6">
                <h4>DC local</h4>
                <p>Currently What's My Function is a local zine for programmers living in the DC area</p>
            </div>

            <div class="col-lg-6">
                <h4>What is a Zine?</h4>
                <p>A zine is a self published magazine. I've heard that in the times before github people used to share code via zine.</p>
            </div>

            <div class="col-lg-6">
                <h4>Why did you create this zine?</h4>
                <p>I created this zine for the Tech Lady Hackathon in 2015 to complement other classes that were being run. I thought it would be really neat to teach code with a zine.</p>
            </div>
        </div>

        <footer class="footer">
            <p>Created by Jessica Garson</p>
        </footer>

    </div>
</body>
</html>
